@model JustBlog.Models.RegisterModel

@{
    var msg = "";
    var redirectUrl = "";
    if (Model != null)
    {
        msg = Model.Message == null ? "" : Model.Message;
        redirectUrl = Model.RedirectUrl == null ? "" : Model.RedirectUrl;
    }

    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Регистрация</h2>

@Scripts.Render("~/jquery", "~/jqueryval", "~/jqueryunobtrusiveval")

<div>

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)

        <p>
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
        </p>

        <p>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { type = "email", placeholder = "example@mail.ru" })
            @Html.ValidationMessageFor(m => m.Email)
        </p>

        <p>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </p>

        <p>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </p>

        @Html.AntiForgeryToken()
        <input type="hidden" name="Message" value="@msg" />
        <input type="hidden" name="RedirectUrl" value="@redirectUrl" />

        <p>
            <input type="submit" value="Зарегистрироваться" />
        </p>
    }
</div>